html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contact-section {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;    
  background-color: #0b1622; 
  text-align: center;
  font-family: "Times New Roman", serif;
}

.contact-section h2 {
  color: #3FA9F5;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.contact-section p {
  color: #ccc;
  font-size: 18px;
  margin: 10px 0;
}

.contact-section a {
  color: #3FA9F5;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.contact-section a:hover {
  text-decoration: underline;
}