*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    background-color: rgb(10,25,47);
}

.navbar{
    display: flex;
    flex-direction: row;
}

.name{
    color: white;
    margin-left: 45px;
    margin-top: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}


.navbar-contents{
    color: white;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-left: 300px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    padding-left: 40px;
    color: white;
}

a:hover {
    color : rgb(0,191,255);
}


.main{
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    
}


.buttons {
  display: flex;
  justify-content: flex-start; 
  margin-top: 40px;
  margin-left: 45px;
}

.hire {
  font-size: 15px;
  background-color: rgb(0,191,255);
  color: black;
  border: 2px solid rgb(0,191,255);
  border-radius: 5px;
  padding: 8px 20px;
}

.project {
  font-size: 15px;
  background-color: rgb(10,25,47);
  border: 2px solid rgb(0,191,255);
  border-radius: 5px;
  color: rgb(0,191,255);
  padding: 8px 20px;
  margin-left: 10px;
}


.contact {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px; 
  color: rgb(0,191,255);
}


.icon {
    border: 2px solid rgb(0, 191, 255);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(0, 191, 255);
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
}

.image img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 0;
  margin-right: 30px;
  margin-top: 100px;
}


