/* RESET + FONTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  background-color: rgb(10,25,47);
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

.name {
  font-weight: 700;
  font-size: 24px;
}

.navbar-contents a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-contents a:hover {
  color: rgb(0,191,255);
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1100px;
}

.text h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.text h2 {
  color: #3FA9F5;
  font-size: 25px;
  margin-bottom: 25px;
}

.text p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 650px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 15px;
}

.hire {
  font-size: 15px;
  background-color: rgb(0,191,255);
  color: black;
  border: 2px solid rgb(0,191,255);
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.project {
  font-size: 15px;
  background-color: rgb(10,25,47);
  border: 2px solid rgb(0,191,255);
  border-radius: 5px;
  color: rgb(0,191,255);
  padding: 8px 20px;
  cursor: pointer;
}

/* IMAGE */
.image img {
  width: 260px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* CONTACT ICONS */
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 60px 60px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icon {
  border: 2px solid rgb(0,191,255);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0,191,255);
  transition: all 0.3s ease;
}

.icon:hover {
  background-color: rgb(0,191,255);
  color: rgb(10,25,47);
}
